{{snack}}
<div class="form-group">
  <label for="new-name">Name</label> <input name="new-name" type="text" class="form-control text-center input-sm" value="{{snacks.name}}">
</div>
<div class="form-group">
  <label for="new-origin">Origin</label> <input name="new-origin" type="text" class="form-control text-center input-sm" value="{{snacks.origin}}">
</div>
<div class="form-group">
  <label for="new-type">Type</label> <input name="new-type" type="text" class="form-control text-center input-sm" value="{{snacks.type}}">
</div>
<div class="form-group">
  <label for="new-rating">Rating</label> <input name="new-rating" type="number" min="0" max="5" class="form-control text-center input-sm" placeholder="0-5" value="{{snacks.rating}}">
</div>
<div class="form-group">
  <label for="new-review">Review</label> <input name="new-review" type="text" class="form-control text-center input-sm" value="{{snacks.review}}">
</div>
<div class="form-group">
  <label for="new-img-url">Image URL</label> <input name="new-img-url" type="text" class="form-control text-center input-sm" value="{{snacks.img_url}}">
</div>
<div class="form-group text-center">
  <input class="btn btn-default" type="submit">
</div>
