<div class="row">
    <div class="container panel panel-default">

        <h2 class="col-xs-6">{{ heading }}</h2>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Origin</th>
                    <th>Type</th>
                    <th>Review</th>
                    <th>Rating</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each snacks}}
                    <tr>
                        <td><img src="{{ URL }}" alt=""></td>
                        <td><a href="/snacks/{{this.id}}">{{name}}</a></td>
                        <td>{{origin}}</td>
                        <td>{{type}}</td>
                        <td>{{review}}</td>
                        <td>{{rating}}</td>
                        <td>Edit</td>
                        <td>Delete</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>

    </div>
</div>
