<div class="row">
  <div class="container col-xs-8 col-xs-offset-2 panel panel-default text-center single-snack">
    <div class="col-xs-6">
      <img class="img-lg" src="{{snack.img_url}}" alt="">

    </div>

    <div class="col-xs-6 text-center">
      <h3>{{snack.name}}</h3>
      <table class="table single-table">
        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-left">Origin:</td>
            <td class="text-right">{{snack.origin}}</td>
          </tr>
          <tr>
            <td class="text-left">Type:</td>
            <td class="text-right">{{snack.type}}</td>
          </tr>
          <tr>
            <td class="text-left">Rating:</td>
            <td class="text-right">{{snack.rating}}</td>
          </tr>
          <tr>
            <td class="text-left">Review:</td>
            <td class="text-right">{{snack.review}}</td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>
